@{
	ViewBag.Title = "Informacion de Contacto";
}
<h2>Información de Contacto</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
	Escuela<br />
	Paso Ancho, de Educación Vial (INA) 50mts Sur y 25mts Oeste<br />
	<abbr title="Phone">P:</abbr>
	2286 4176
</address>

<address>
	<strong>Correo:</strong>   <a href="mailto:info@mounthopeschool.com">info@mounthopeschool.com</a><br />

</address>

<td>   Derechos reservados </td>
<td style="text-align:center;">
	Mapa de ubicacion <br>
	<a href="https://goo.gl/maps/pwq2WB2z92u" target="new">
		<img src="../Imagenes/mapa.PNG" alt="Mapa de ubicación" width="25%">
	</a>
</td>

<td style="text-align:center;">
	Redes Sociales <br>
	<a href="https://www.facebook.com/Mount-Hope-School-127391963942303/" target="new">
		<img src="../Imagenes/facebook55.png" alt="Imagen facebook">
	</a>
	<a href="https://twitter.com/?lang=es" target="new">
		<img src="../Imagenes/twitter13.png" alt="Imagen twitter">
</td>
             </a>
        </tr>