@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<img src="../Imagenes/Encabezado.jpg" alt="imagen de encabezado" width="100%">

	<h1>Mount Hope School</h1>
	<p class="lead">Es una institución de educación primaria fundada en 1994</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Valores</h2>
		<p>
			<p>-Disciplina</p>
			<p>-Amor</p> 
			<p>-Conocimiento</p>
		</p>
        
    </div>
    <div class="col-md-4">
        <h2>Misión</h2>
		<p>Promover el desarrollo integral del ser humano, ofreciendo a los niños un clima afectivo y saludable que favorezca su desarrollo físico, emocional, moral, intelectual y creativo, a su vez permitiendo el desenvolvimiento de su autonomía, participación y la integridad en el proceso de enseñanza aprendizaje. </p>
      
    </div>
	<div class="col-md-4">
		<h2>Alianzas</h2>
		<p>Con instituciones muy importantes como el IMAS y la escuela de idiomas PAI.</p>
		<p><a class="btn btn-default" href="https://es.linkedin.com/pulse/pai-escuela-de-idiomas-proyecto-bien-social-zully-cordero-solis">PAI &raquo;</a></p>
		<p><a class="btn btn-default" href="http://www.imas.go.cr/">IMAS &raquo;</a></p>
	</div>
</div>